# 忽略文件
*.pyc
*.log
*.prof
*.rar
*.png
*.pem
*.key
*.crt

# 忽略目录
venv/

backend/prompts/
backend/memory/

model/

dist/

build/

bak/

test/

tests/

tools/bin/
tools/downloads/

tj.py
config.cfg
.env


!panel_example.png
!prompts/system_prompt.txt